<!DOCTYPE html>
<html class="no-js" xmlns:fb="http://ogp.me/ns/fb#">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">

    <!-- Facebook metadata -->
    <meta property="og:title" content="nico.link , URL shortener" />
    <meta property="og:description" content="nico.link is a URL shortener created by Nicolas Iniesta. Visit my Github (nico.link/github) or my Linkedin (nico.link/linkedin) to find out more about me !" />
    <meta property="og:image" content="link.png" />
    <meta property="og:url" content="https://www.nico.link" />
    <meta property="business:contact_data:locality"       content="Lyon"
     />
    <meta property="business:contact_data:country_name"   content="France" />
  </head>
  <body>
    <div id="fb-root"></div>

    <div id="app"></div>
  </body>
</html>
